@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap');
:root {
    --fuenteGoogle: 'Dosis', sans-serif;
    --azulMarino: #00425A;
    --verdeMarino: #1F8A70;
    --verdeClaro: #BFDB38;
    --naranja: #FC7300;
    --blanco: #FFFFFF;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteGoogle);
    font-size: 1.6rem;
    
}

/** Globales **/
.contenedor {
    width: min(100%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/**Animaciones**/

.hidden{
    opacity:0;

    filter: blur(5px);
    transform:translateX(-100%);
    transition: all 1s;
}

.show{
    opacity:1;
    filter: blur(0);
    transform: translateX(0);
}

/** Header **/

.header {
    width:100%;
    height: 40rem;
    background-color: var(--azulMarino);
    background-position: center center;
}


.header__texto {

   text-align: right;
   color: var(--blanco);
   margin-top: auto;
}

@media (max-width: 768px) {
    .header__texto {
       margin-right: 6rem;
    }
}

.barra {
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    font-size: 3rem;
    color: var(--blanco);
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

/** ContenidoPrincipal **/


.principal{
    background-color: var(--verdeMarino);
}



.foto{
    filter: grayscale(100%);
    width: 55rem;
    margin-top: -16rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media (max-width: 768px) {
    .foto{
     filter: grayscale(100%);
     width: auto;
     height: 10%;
     flex-wrap: wrap;
     cursor: pointer;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
     margin-top: 0;
    }
 }

.biografia{
    align-self: center;
    transform:translate(-7rem,6rem);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
}

@media (max-width: 768px) {
    .biografia{
        transform:translate(0rem,0rem);
        display: flex;
        flex-direction: column;
    }
 }

.frase{
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--blanco);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.quote{
    margin-left: -10rem;
}

@media (max-width: 768px) {
    .quote{
        margin-left: 0%;
        margin-top: -3rem;
    }
 }



.biografia p{
    font-size: 2.3rem;
}

.sobremi{
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .sobremi{
        display: flex;
        flex-direction: column;
    }
 }


/**Trabajos**/
.trabajos{
    display: flex;
    gap: 3rem;
    flex-direction: column;
    background-color: #b0c451;
    margin-bottom: -43rem;
}

.tituloTrabajos{
    margin-top: 6rem;
    color: var(--azulMarino);
    font-size: 10rem;
    justify-self: center;
}


.trabajo{
    padding: 2rem;
    border-radius: 1rem;
    background-color: #FFFFFF;
    justify-content:right;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.trabajo h1{
    font-size: 4rem;
    color:var(--azulMarino);
}
.trabajo p{
    font-size: 2rem;
    color:var(--azulMarino);
}

.trabajo:hover{
    transform: scale(1.05);
    background-color: var(--verdeMarino);
    transition: 0.1s;
    cursor: pointer;
}

.trabajo:hover h1{
    transition: 0.1s;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .gif2{
       
    }
 }


.gif2{
    width: 35rem;
    transform:translate(136rem,-60rem);
}

@media (max-width: 768px) {
    .gif2{
        width: 35rem;
        transform:translate(10rem,-105rem);
    }
 }


/** info add**/


.add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .add{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 }

.add h3{
    color: #FFFFFF;
}

/** formulario **/

.tituloContacto{
    color: var(--blanco);
    font-size: 6rem;
}
.seccionContacto{
    margin-top: 7rem;
    background-color: var(--naranja);
    padding: 2rem;
}
.formulario {
    background-color: var(--blanco);
    width: 100%;
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo__label {
    font-size: 2rem;
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
    border: 1px solid var(--naranja);
    border-radius: 0.5rem;
}
.campo__field--textarea {
    height: 20rem;
}

.boton {
    cursor: pointer;
    border-radius: 1rem;
    font-family:var(--fuenteGoogle);
    color: var(--blanco);
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
   
    border: none;
}

/**Footer**/
.footer{
    background-color: var(--azulMarino);
    padding-bottom: 1rem;
   
}


.navegacion a{
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    .barra {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
    }
}


/**Mierda esa**/
.olas {
    margin-top: -3rem;
    position:relative;
    text-align:center;
    background-color:var(--azulMarino);
    color:white;
  }
  .inner-header {
    height:45rem;
    width:100%;
  }
  
  /** aca empieza creo**/
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:6rem;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

  
